.container {
	width: 1500px;
}
.logo {
	height: 255px;
	padding-top: 30px;
	background-color: green;
	background: linear-green(left, rgba (0,153,0,.2), rgba (0,153,0,1));
	background:-webkit-linear-gradient(left, rgba(0,153,0,.2), rgba(0,153,0,1));
	background:-moz-linear-gradient(left,rgba(0,153,0,.2), rgba(0,153,0,1));
}
body{
	background:rgb(255,255,153);
}
h1{
	font-family: 'Londrina Shadow', cursive;
	font-size: 50px;
	text-align: center;
}
h2{
	font-family: 'Londrina Shadow', cursive;
	font-size: 45px;
	text-align: center;	
}
h3{
	font-family: 'Londrina Shadow', cursive;
	font-size: 45px;
}
h4{
	font-family: 'Londrina Shadow', cursive;
	font-size: 26px;
	text-align: center;
}
p{
	font-family: 'Bree Serif', serif;
	font-size: 25px;

}
.footer{
	height: 50px;
}
#map{
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}


