.container {
	width:1500px;
}
a {
	text-decoration: none;
}
.footer {
	height: 50px;
}
.logo {
	height:255px;
	padding-top: 30px;
	background-color: green;
	background: linear-green(left, rgba (0,153,0,.2), rgba (0,153,0,1));
  	background:-webkit-linear-gradient(left, rgba(0,153,0,.2), rgba(0,153,0,1));
 	background:-moz-linear-gradient(left,rgba(0,153,0,.2), rgba(0,153,0,1));
}
#lasIguanas {
	background-image: url("./images/lasiguanas.jpeg");
	height:250px;
	background-size:cover;
	border: 1px solid transparent;
}
#TheRudeShipyard {
	background-image: url('./images/rudeshipyard.jpeg');
	height:250px;
}
#PureOnRaw {
	background-image: url('./images/pureonraw.jpeg');
	height:250px;
	background-size:cover;
}
#BlueMoonCafe {
	background-image: url('./images/bluemooncafe.jpeg');
	height:250px;
	background-size:cover;
}
body{
	background:rgb(255,255,153);
}
h1{
	font-family: 'Londrina Shadow', cursive;
	text-align: center;
	font-size: 50px;
}
h2 {
	font-family: 'Londrina Shadow', cursive;
	text-align: center;
}
p{
	padding:30px;
	color:white;
	font-family: 'Bree Serif', serif;
	transition: height .5s;
	-webkit-transition: height .5s;
	-moz-transition: height .5s;
	display: inline-block;
	font-size: 20px;
}
small{
	opacity:0;
}
.show-description small {
	opacity:1;
}
.hide-description small {
	opacity: 0;
}

